<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <title>Title</title>
</head>
<body class="d-flex flex-column min-vh-100">
<section id="header" wicket:id="headerPanel">Header</section>
<div class="container" id="body">
    <wicket:child/>
</div>
<footer class="mt-auto" id="footer" style="min-height: 5rem;" wicket:id="footerPanel">Footer</footer>
</body>
</html>